$intro-block-gradient: linear-gradient(57deg, #132e57 0%, #255bac 100%);
$white: #ffffff;
$hawkes-blue: #dddee0;
$whisper: #e5e5e5;
$royal-blue: #3271d2;
$sapphire: #132e57;
$raven-color: #727477;
$granite-gray: #676767;